// SIGNATURE SEQUANE
// Voir l'appel des Fonts de Séquane dans _fonts.scss

.signature {
  height: 26px;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.signature p {
  display: inline-block;
  font-size: 26px;
  font-weight: $weight-regular;
  line-height: 26px;
  letter-spacing: -4.5px;
  font-family: "Monologue-Sequane", sans-serif;
  margin: 0;
  position: relative;
}

.signature p a {
  color: inherit;
  font: inherit;
  text-decoration: inherit;
  position: relative;
  letter-spacing: inherit;
  text-transform: inherit;
}

.signature p .site {
  @include classic-nav-menu-font-size;
  & {
    letter-spacing: 0;
    font-family: $font-base, sans-serif;
    position: relative;
    top: -5px;
  }
}

.signature p .relever {
  position: relative;
  top: 26px;
  transition: all 0.3s ease-out;
  height: 100%;
  font-family: unset;
}

.signature:hover p .relever,
.signature:hover p {
  top: 0;
  letter-spacing: 0;
}
