.Header {
  position: relative;
  background: $color5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    width: calc($hundredpx + $eightypx);
    margin-left: $twenty-eightpx;
  }
  nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc($thirtypx + $sixpx) $ninetypx;
    a {
      @include classic-nav-menu;
    }
  }
}
