.MenuItem {
  width: calc($thirty-twopx * 2);
  height: calc($thirty-twopx * 2);
  background-color: $color6;
  border-radius: $sixpx;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  img {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
    background: darken($color: $color6, $amount: 10%);
  }
}
